@import '../node_modules/antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

// Override default font-family
* {
  font-family: Avenir, 'Chinese Quote', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}
